:root {
  --text-color: oklch(27.4% 0.006 286.033);
  --link-color: oklch(70.4% 0.14 182.503);
  --hover-color: oklch(0.8 0.078 188.216);
  --border-color: oklch(0.46 0 0);

  @media (prefers-color-scheme: dark) {
    --text-color: oklch(98.5% 0 0);
  }
}

a {
  &:where(:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, pre a, header a, footer a)) {
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:link,
    &:visited {
      color: var(--link-color);
    }

    &:hover {
      color: var(--hover-color);
    }
  }

  &.source {
    display: none;
  }

  p code &,
  li code &,
  p & {
    border-bottom: 1px dotted var(--text-color);
    font-weight: normal;
  }
}

main {
  margin-trim: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui;
  font-weight: 700;
  color: var(--text-color);
  line-height: 1.2;
  text-wrap: balance;

  + p {
    margin-block-start: 0;
  }
}

h2 {
  font-size: 1.75rem;
  letter-spacing: -0.015em;
  margin-top: 1lh;
  margin-bottom: 0.5lh;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.01em;
  margin-top: 0.75lh;
  margin-bottom: 0.75lh;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: -0.01em;
  margin-top: 0.5lh;
  margin-bottom: 0.5lh;
}

h5 {
  font-size: 1.125rem;
  margin-top: 0.25lh;
  margin-bottom: 0.5lh;
}

h6 {
  font-size: 1rem;
  margin-top: 0.15lh;
  margin-bottom: 0.5lh;
}

p {
  font-family: ui-serif;
  line-height: 1.7;
  text-wrap: pretty;
  max-width: 70ch;
}

p:where(:not(:is(h1, h2, h3, h4, h5, h6) + p)) {
  margin-block: 1lh;
}

b,
strong {
  font-weight: 700;
}

code {
  font-family: ui-monospace, monospace;
  font-weight: 500;
  font-size: 0.9em;
  padding: 0.15em 0.3em;
  border-radius: 3px;
  background-color: oklch(0.3 0 0);
  padding: 0.25rem 0.4rem;
}

ol {
  list-style: decimal;

  & ol {
    list-style: lower-latin;
    margin-top: 0.5lh;
  }
}

ul {
  list-style: disc;
}

ul,
ol {
  margin-left: 2rem;
  margin-block: 1.25lh;
  list-style-position: outside;
  max-width: 65ch;

  & li {
    margin-bottom: 0.75rem;
    padding-left: 0.5rem;

    & p {
      margin: 0;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

blockquote {
  font-style: italic;
  border-left: 4px solid oklch(0.75 0.1 var(--link-color) / 0.5);
  padding-left: 1.5rem;
  margin-left: 1rem;
  margin-block: 1.5lh;
  color: oklch(var(--text-color) / 0.85);
}

.code-block-wrapper {
  position: relative;
  width: 100%;
  max-width: 95vw;
  margin: 1lh auto;

  @media (min-width: 768px) {
    width: 760px;
    max-width: 760px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: 804px) {
    width: 800px;
    max-width: 800px;
  }
}

.code-language,
.copy-button {
  position: absolute;
  background: oklch(0.2 0 0);
  color: oklch(85% 0 0);
  padding: 4px 8px;
  font-size: 0.8rem;
  font-family: system-ui;
  font-weight: bold;
  border-bottom-right-radius: 4px;
  z-index: 10;
}

.code-language {
  top: 0.5rem;
  left: 0.5rem;
}

.copy-button {
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 8px;
  border-bottom-left-radius: 4px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: oklch(0.3 0 0);
  }
}

pre {
  background: oklch(0.2 0 0);
  font-size: 0.8rem;
  line-height: 1.25rem;
  padding: 2.5rem 1rem 1rem;
  overflow-x: auto;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  position: relative;
  width: 100%;
  box-sizing: border-box;
  
  @media (min-width: 768px) {
    margin: 1rem 0;
    width: 760px;
    max-width: 760px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 2.5rem 1.5rem 1rem;
  }

  @media (min-width: 804px) {
    width: 800px;
    max-width: 800px;
  }

  &:has(.language-text) {
    padding: 1rem;
  }

  & code {
    text-shadow: none;
    font-family: ui-monospace;
    font-weight: normal;
    display: block;
    white-space: pre;
    background: transparent;

    & a:not(.xs) {
      border-bottom: 1px dotted var(--text-color);
    }

    &.hljs {
      color: light-dark(oklch(85% 0 0), oklch(98.5% 0 0));
    }

    .hljs-comment,
    .hljs-quote {
      color: oklch(60% 0.03 250);
      font-style: italic;
    }

    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-literal,
    .hljs-section,
    .hljs-link {
      color: oklch(74% 0.14 353.93);
    }

    .hljs-title,
    .hljs-name,
    .hljs-variable {
      color: oklch(79% 0.0844 302.64);
    }

    .hljs-string,
    .hljs-doctag,
    .hljs-attr {
      color: oklch(75% 0.15 20);
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-symbol {
      color: oklch(75% 0.15 90);
    }

    .hljs-type {
      color: oklch(69% 0.0752 225.02);
    }

    .hljs-attribute {
      color: oklch(65% 0.05 245);
    }

    .hljs-regexp .hljs-regexp {
      color: oklch(75% 0.2 40);
    }

    .hljs-subst {
      color: var(--text-color);
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: bold;
    }

    .hljs-ln-n {
      text-align: right;
      color: oklch(60% 0.03 250);
      padding-right: 0.5rem;
      font-family: ui-monospace;
      font-size: 0.8rem;
      line-height: 1.25rem;
      margin-right: 1rem;
      border-right: 1px solid var(--border-color);
    }

    .line-numbers .hljs {
      padding-left: 1rem;
    }
  }
}
